body {
    background-color: aliceblue;
    font-family: 'Robota', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.blog-post {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2,
h3 {
    font-family: cursive;
    color: midnightblue;
}

header {
    background: pink;
    color: slategray;
    border-bottom: #7be37b 3px solid;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
}

.top-bar {
    float: left;
    margin-top: 10px;
    margin: 0;
    padding: 0;

}

.quote {
    background-color: #f9e2e2;
    border-left: 5px solid #d9534f;
    padding: 15px;
    margin: 20px 0;
    font-style: italic;
    color: #a94442;
}

.home-button {
    background-color: pink;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 6px double #a9cce3;
    font-size: small;

}

.home-button:hover {
    background-color: palevioletred;
}